
ul.dropdown-menu.dropdown-menu-lg.dropdown-menu-right.rounded.border-0.show {
    margin-top: 9px;
    margin-right: -7px;
}

.user-header img.user-image.img-circle.elevation-2 {
    margin-top: 10px;
}
